### Naive bayes

**chance of getting head or tail in coin 50%**

![img](qq.png)

**Pick a random card,what is the probability of getting a queen?**

![img](ww.png)

**Pick a random card,you know it is a diamond . now what is the probability of that card being a queen?**

![img](ee.png)

![img](rr.png)

![img](tt.png)

![img](yy.png)

**Titanic survial datas**

![img](uu.png)

**Make a naive assumption that features such as male,class,age,cabin,fare etc.. are independent of each other**

**we just assume the features are independent for naive, but in reality it have some relations between the features - example like cabin and fares**

In [1]:
import pandas as pd

df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [2]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [9]:
X = df.drop('Survived',axis='columns')
y = df.Survived

In [10]:

dummies = pd.get_dummies(X.Sex)
dummies.head(3)

   female   male
0   False   True
1    True  False
2    True  False

In [11]:
X = pd.concat([X,dummies],axis='columns')
X.head(3)

   Pclass     Sex   Age     Fare  female   male
0       3    male  22.0   7.2500   False   True
1       1  female  38.0  71.2833    True  False
2       3  female  26.0   7.9250    True  False

**I am dropping male column as well because of dummy variable trap theory. One column is enough to repressent male vs female**

In [12]:
X.drop(['Sex','male'],axis='columns',inplace=True)
X.head(3)

   Pclass   Age     Fare  female
0       3  22.0   7.2500   False
1       1  38.0  71.2833    True
2       3  26.0   7.9250    True

In [13]:
X.columns[X.isna().any()]

Index(['Age'], dtype='object')

In [15]:
X.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [17]:
d=X.Age.mean()
X.Age = X.Age.fillna(d)

X.head(15)

    Pclass        Age     Fare  female
0        3  22.000000   7.2500   False
1        1  38.000000  71.2833    True
2        3  26.000000   7.9250    True
3        1  35.000000  53.1000    True
4        3  35.000000   8.0500   False
5        3  29.699118   8.4583   False
6        1  54.000000  51.8625   False
7        3   2.000000  21.0750   False
8        3  27.000000  11.1333    True
9        2  14.000000  30.0708    True
10       3   4.000000  16.7000    True
11       1  58.000000  26.5500    True
12       3  20.000000   8.0500   False
13       3  39.000000  31.2750   False
14       3  14.000000   7.8542    True

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

In [23]:
from sklearn.naive_bayes import GaussianNB

model = GaussianNB()

In [30]:

model.fit(X_train,y_train)

GaussianNB()

In [31]:
model.score(X_test,y_test)

0.7686567164179104

In [32]:
X_test[0:10]

     Pclass        Age      Fare  female
242       2  29.000000   10.5000   False
484       1  25.000000   91.0792   False
466       2  29.699118    0.0000   False
291       1  19.000000   91.0792    True
175       3  18.000000    7.8542   False
711       1  29.699118   26.5500   False
170       1  61.000000   33.5000   False
739       3  29.699118    7.8958   False
297       1   2.000000  151.5500    True
341       1  24.000000  263.0000    True

In [33]:
y_test[0:10]

242    0
484    1
466    0
291    1
175    0
711    0
170    0
739    0
297    0
341    1
Name: Survived, dtype: int64

In [34]:
model.predict(X_test[0:10])

array([0, 1, 0, 1, 0, 0, 0, 0, 1, 1], dtype=int64)

In [35]:
model.predict_proba(X_test[:10])

array([[9.24654019e-01, 7.53459812e-02],
       [1.71772293e-01, 8.28227707e-01],
       [9.18972252e-01, 8.10277482e-02],
       [6.65861124e-03, 9.93341389e-01],
       [9.61328924e-01, 3.86710760e-02],
       [7.38243808e-01, 2.61756192e-01],
       [7.05829243e-01, 2.94170757e-01],
       [9.66961489e-01, 3.30385106e-02],
       [1.39679913e-05, 9.99986032e-01],
       [1.06382389e-13, 1.00000000e+00]])

**Calculate the score using cross validation**

In [36]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train, y_train, cv=5)

array([0.776     , 0.752     , 0.8       , 0.78225806, 0.73387097])